<div id="jsxc_webrtc">
  <a class="silverchat_videochat_close"></a>
  <div class="jsxc_videoContainer">

    <div class="jsxc_status"></div>

    <video class="jsxc_localvideo" autoplay></video>
    <video class="jsxc_remotevideo" autoplay></video>

    <div class="bubblingG">
      <span id="bubblingG_1"> </span> <span id="bubblingG_2"> </span> <span id="bubblingG_3"> </span>
    </div>

    <div class="jsxc_noRemoteVideo">
      <div>
        <div></div>
        <p data-i18n="No_video_signal"></p>
        <div></div>
      </div>
    </div>

    <div class="jsxc_controlbar jsxc_visible">
      <div>
        <div class="jsxc_hangUp jsxc_videoControl" />
        <div class="jsxc_toggleVideo jsxc_videoControl"/>
        <div class="jsxc_fullscreen jsxc_videoControl" />
      </div>
    </div>
  </div>

</div>
